<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header><%- include('./partials/nav.ejs') %></header>
    <main class="admin-container">
      <h1>admin</h1>
      <div>
        <h1>all users</h1>
        <ul>
          <% if (users.length > 0 ) { %> <% users.forEach(user => { %>
          <li class="book-card">
            <h3><%= user.email %></h3>
          </li>
          <% }) %> <% } %>
        </ul>
        <h1>subscribers</h1>
        <ul>
          <% if (users.length > 0 ) { %> <% users.forEach(user => { %> <%
          if(user.isSubscribing) { %>
          <li class="book-card">
            <h3><%= user.email %></h3>
            <h3><%= user.isSubscribing %></h3>
          </li>
          <% } %> <% }) %> <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
